<div *ngIf="!auth.isLoggedIn()">
  <mat-sidenav-container  class="sidenav-container">
      <!-- <mat-sidenav #drawer    class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar> </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink='' routerLinkActive='active'>Home</a>
        <a mat-list-item *ngIf="!auth.isLoggedIn()" routerLink='login' routerLinkActive='active'>Login</a>
        <a mat-list-item *ngIf="!auth.isLoggedIn()" routerLink='register' routerLinkActive='active'>Register</a>
        <a mat-list-item *ngIf="auth.isLoggedIn()" routerLink='dashboard' routerLinkActive='active'>DashBoard {{
          auth.getUserDetails()?.user_name }}</a>
        <a mat-list-item *ngIf="auth.isLoggedIn()" routerLink='' (click)="auth.logout()"
          routerLinkActive='active'>Logout
        </a>
      </mat-nav-list>
    </mat-sidenav> -->
    <mat-sidenav-content>
      <mat-toolbar *ngIf="!auth.isLoggedIn()" color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon"> </mat-icon>
        </button>
        <a class="mtt" routerLink=''>iConnect</a>
        <a class="mtt" *ngIf="!auth.isLoggedIn()" routerLink='login' routerLinkActive='active'>Login</a>
        <a class="mtt" *ngIf="!auth.isLoggedIn()" routerLink='register' routerLinkActive='active'>Register</a>

      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet>
      </router-outlet>

      <!-- <h1> </h1> -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

 <div *ngIf="auth.isLoggedIn()">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>iConnect </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink='' routerLinkActive='active'>Home</a>
        <!-- <a mat-list-item *ngIf="!auth.isLoggedIn()" routerLink='login' routerLinkActive='active'>Login</a> -->
        <!-- <a mat-list-item *ngIf="!auth.isLoggedIn()" routerLink='register' routerLinkActive='active'>Register</a> -->
        <a mat-list-item *ngIf="auth.isLoggedIn()" routerLink='dashboard' routerLinkActive='active'>DashBoard {{
          auth.getUserDetails()?.user_name }}</a>
        <a mat-list-item *ngIf="auth.isLoggedIn()" routerLink='' (click)="auth.logout()"
          routerLinkActive='active'>Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <mat-toolbar color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon"> </mat-icon>
        </button>
        <span routerLink=''></span>
      </mat-toolbar> -->
      <!-- Add Content Here -->
      <router-outlet>
      </router-outlet>

      <h1> </h1>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
